{% extends 'base.html' %}

{% block content %}
  <h1>A simple to-do application</h1>
  <form method="POST" class="which_tasks">
    <button type="submit" name="completed" value="com">Completed</button>
  <form method="POST" class="which_tasks">
    <button type="submit" name="uncompleted" value="uncom">Uncompleted</button>
  </form>
  <form method="POST" class="which_tasks">
    <button type="submit" name="all" value="all">All</button>
  </form>
  <ul>
    {% for todo in todos %}
      <li class="{{ "completed" if todo['completed'] }}">
        {{ todo['description'] }}
      </li>
    {% endfor %}
  </ul>
  <form method="POST" class="new_task">
    <label for="description">Add things to the list!</label>
    <input type="text" name="description" id="description">
    <input type="submit" value="Add">
  </form>

{% endblock %}
